# Desarrollo local
FLASK_DEBUG=1

# En local debe ser 0 si usás http://127.0.0.1:5000
# En Render debe ser 1 porque usa HTTPS
SESSION_COOKIE_SECURE=0

# Clave secreta Flask. En producción usar una clave larga.
SECRET_KEY=reemplazar_por_una_clave_larga

# Carpeta de datos. En Render puede ser /opt/data
# DATA_DIR=./data

# Admin inicial
ADMIN_SEED_USUARIO=jazmin
ADMIN_SEED_PASSWORD=cambiar_esta_clave

# OAuth Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth X
X_CLIENT_ID=
X_CLIENT_SECRET=